body {
    font-family: Arial, sans-serif;
    background-color: #a370ff;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    margin-bottom: 20px;
    color: black;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.weather-info {
    margin-top: 20px;
    text-align: left;
    color: black;
}

.weather-info p {
    margin-bottom: 10px;
    color: black;
}

p{
    color: black;
}

h2{
    color: black;
}