/* Igor Daniel dos Santos Dias */
body {
    background-color: #a370ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.word-counter {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    max-width: 400px ;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    color: blue;
}

#wordCount {
    color: red;
    font-size: 18px;
}